page-members {

.profilepicsize  {
    width: 100% !important;  
    height : 100% !important;  
    max-width: 70px !important;  //any size
    max-height: 70px !important; //any size 
    //box-shadow: 1px 1px 2px grey;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}


// .custom  {
//     // height: 60px;
//     color: #9E9E9E;
// }

.custom :active{
    background-color: #ECEFF1;
    //#B0BEC5
    color: #00838F;
}
}
