page-executive {
    .custom{
        color: #b71c1c;
    }

    .profilepicsize  {
    width: 100% !important;  
    height : 100% !important;  
    max-width: 70px !important;  //any size
    max-height: 70px !important; //any size 
    }

    .new-text{
        color: #00838F;
    }
}
